<!-- .end navbar -->
<div class="container-fluid">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="header-width header-main-content-two desk-ml-auto">
                <h4>Welcome To Blim</h4>
                <h1>Get Cheap Windows Web Hosting Plans At <small>$</small>1.49<span>/Monthly</span></h1>
                <p>Target the right people amet consectetur adipisicing elit sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <ul class="section-button">
                    <li><button class="btn btn-gradient">Get Started</button></li>
                    <li><a href="https://www.youtube.com/watch?v=YHq8SWAkzG8" class="btn" id="video-popup">Play For 1 Min</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="header-content-image">
                <img src="assets/images/header-clipart-2.png" alt="clipart">
            </div>
        </div>
    </div>
</div>
<!-- .end header -->
<!-- feature-section -->
<section class="feature-section pt-100 pb-70">
<div class="container">
    <div class="section-title section-title-two">
        <small>We offers</small>
        <h2>Hosting features</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-1.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>Personalized Email Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-2.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>WordPress & cPanel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-3.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>Free SSL Certificates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-4.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>LiteSpeed Web Server</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-5.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>PHP Selector</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-6.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>No Multi-Tenancy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end feature-section -->
<!-- pricing-section -->
<section class="pricing-section position-relative p-tb-100">
<div class="cloud-shape-bg-fixed bg-off-white-two">
</div>
<div class="container position-relative">
    <div class="section-title section-title-two">
        <h2>Pricing & plans</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
    </div>
    <div class="pricing-table-secondary">
        <table>
            <thead>
                <tr>
                    <th class="th-head text-center"><img src="assets/images/table-header.png" alt="shape"></th>
                    <th>
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Regular</div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                            </div>
                            <div class="pricing-item-amount">
                                <p>Starting at</p>
                                <div class="pricing-item-amount-number"><small>$</small>36<span>/Month</span></div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Standard</div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                            </div>
                            <div class="pricing-item-amount">
                                <p>Starting at</p>
                                <div class="pricing-item-amount-number"><small>$</small>40<span>/Month</span></div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Premium</div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                            </div>
                            <div class="pricing-item-amount">
                                <p>Starting at</p>
                                <div class="pricing-item-amount-number"><small>$</small>70<span>/Month</span></div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <!-- Inside the tbody, there are some classes which are very important for the styling of td. 1. td-list-name: which is used for left-aligned text and indicate the title of the table row. 2. td-check: which is used for the check icon with blue color. 3. td-cancel: which is used for the cross icon with orange color. 4. td-blank: which is used for the blank space of td. -->
            <tbody>
                <tr>
                    <td class="td-list-name td-bg">24/7 phone support</td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Consultative onboarding</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Imported SSL</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Bandwidth per month</td>
                    <td>569 GB</td>
                    <td>256 GB</td>
                    <td>1 TB</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Shared</td>
                    <td>50 GB</td>
                    <td>80 GB</td>
                    <td>100 GB</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Hosting type</td>
                    <td><strong>Shared</strong></td>
                    <td><strong>Dedicated</strong></td>
                    <td><strong>Shared</strong></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Total sites</td>
                    <td>1</td>
                    <td>4</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Visits per month</td>
                    <td>Up to 21670</td>
                    <td>Up to 70000</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="td-blank"></td>
                    <td class="td-blank"></td>
                    <td class="td-blank"></td>
                    <td class="td-blank"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="td-list-name td-bg">Global CDN</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">GEO target</td>
                    <td>Add on</td>
                    <td>Add on</td>
                    <td>Add on</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">SSL certificates</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Page performance</td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Content performance</td>
                    <td>Add on</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td>Add on</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Large FS</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">PHP 7 ready</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Multisite ready</td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-blank"></td>
                    <td class="td-blank"></td>
                    <td class="td-blank"></td>
                    <td class="td-blank"></td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td class="td-list-name td-bg">Transferable sites</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Dev, stage, prod</td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Imported SSL</td>
                    <td>$5.99</td>
                    <td>$15.94</td>
                    <td>$25.54</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Readiness assessment</td>
                    <td>Limited</td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Success management</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Application performance</td>
                    <td class="td-cancel"><i class="flaticon-close"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">High availability</td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                    <td class="td-check"><i class="flaticon-check"></i></td>
                </tr>
                <tr>
                    <td class="td-main td-bg"></td>
                    <td><a href="cart.html" class="btn btn-gradient">Buy Now</a></td>
                    <td><a href="cart.html" class="btn btn-gradient">Buy Now</a></td>
                    <td><a href="cart.html" class="btn btn-gradient">Buy Now</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
<!-- .end pricing-section -->
<!-- choose-section -->
<section class="choose-section pt-100 pb-70 blue-gradient-with-opacity">
<div class="container">
    <div class="section-title section-title-two">
        <small>Why best</small>
        <h2>Why choose us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>01</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-1.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Dedicated support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>02</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-2.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data security</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>03</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-3.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data migration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end choose-section -->
