<!-- topbar -->
<div class="topbar bg-off-white-two">
  <div class="container">
    <div class="topbar-inner">
      <div class="topbar-item">
        <div class="topbar-item-list">
          <div class="topbar-list-thumb">
            <i class="flaticon-chat"></i>
          </div>
          <div class="topbar-list-content">
            <a href="#">Amazing 24x7 Support</a>
          </div>
        </div>
        <div class="topbar-item-list">
          <div class="topbar-list-thumb">
            <i class="flaticon-phone"></i>
          </div>
          <div class="topbar-list-content">
            <a href="tel:202-888-8090">+1 (202) 888-8090</a>
          </div>
        </div>
      </div>
      <div class="topbar-item">
        <div class="topbar-item-list">
          <div class="topbar-list-thumb">
            <i class="flaticon-chat"></i>
          </div>
          <div class="topbar-list-content">
            <a href="mailto:info@blim.com">info@flickmax.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .end topbar -->
<!-- header -->
<header class="header-banner header-bg-shape-three">
  <!-- navbar -->
  <div class="fixed-top">
    <div class="navbar-area">
      <!-- mobile menu -->
      <div class="mobile-nav mobile-nav-two">
        <a href="index.html" class="mobile-logo">
          <img src="assets/images/flickmax.jpg" alt="logo" class="blue-logo">
        </a>
        <!-- mobile navbar-option -->
        <div class="navbar-option">
          <div class="navbar-option-item navbar-option-dots dropdown">
            <button type="button" id="dot" aria-haspopup="true" aria-expanded="false">
              <i class="bx bx-dots-horizontal-rounded"></i>
            </button>
            <ul class="dropdown-menu navbar-dots-dropdown">
              <li class="dropdown-item">
                <div class="navbar-option-item dropdown">
                  <button class="search navbar-option-icon dropdown-toggle" type="button" id="search1"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="navbar-search-zoom"><i class="flaticon-zoom"></i></span>
                    <span class="navbar-search-cancel"><i class="flaticon-cancel"></i></span>
                  </button>
                  <div class="navbar-search dropdown-menu" aria-labelledby="search1">
                    <form>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Search...">
                        <button class="btn btn-gradient"><span><i class="flaticon-loupe"></i></span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <li class="dropdown-item">
                <div class="navbar-option-item">
                  <a href="cart.html" target="_blank" class="shopping-cart navbar-option-icon">
                    <span><i class="flaticon-shopping-bags"></i></span>
                    <span class="shopping-cart-tooltip">2</span>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="navbar-option-item navbar-option-search dropdown mobile-hide">
            <button class="search navbar-option-icon dropdown-toggle" type="button" id="search3"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="navbar-search-zoom"><i class="flaticon-zoom"></i></span>
              <span class="navbar-search-cancel"><i class="flaticon-cancel"></i></span>
            </button>
            <div class="navbar-search dropdown-menu" aria-labelledby="search3">
              <form>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Search...">
                  <button class="btn btn-gradient"><span><i class="flaticon-loupe"></i></span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="navbar-option-item navbar-option-cart mobile-hide">
            <a href="cart.html" target="_blank" class="shopping-cart navbar-option-icon">
              <span><i class="flaticon-shopping-bags"></i></span>
              <span class="shopping-cart-tooltip">2</span>
            </a>
          </div>
          <div class="navbar-option-item navbar-option-account">
            <a href="authentication.html" target="_blank" class="navbar-option-icon">
              <span><i class='flaticon-user'></i></span>
            </a>
          </div>
        </div>
      </div>
      <!-- desktop menu -->
      <div class="main-nav main-nav-two bg-white">
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="index.html">
              <img src="assets/images/flickmax.jpg" alt="logo" class="blue-logo">
            </a>
            <!-- nav-list -->
            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle active">Domains</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a routerLink="domains/domain-name-search" class="nav-link">Search
                        Domains</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="domains/domains-transfer" class="nav-link">Transfer
                        Domains</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://web.flickmax.com/domains/bulk-domain-search.aspx?plid=499263"
                        class="nav-link">Bulk Registration</a>
                    </li>
                    <li class="nav-item">
                      <a href="https://web.flickmax.com/domains/bulk-domain-transfer.aspx?plid=499263"
                        class="nav-link">Bulk Transfer</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle">Hosting</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a routerLink="hosting/cpanel-web-hosting" class="nav-link">cPanel Web
                        Hosting</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="hosting/windows-web-hosting" class="nav-link">Windows Web
                        Hosting</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="hosting/business-hosting" class="nav-link">Business Web
                        Hosting</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="hosting/managed-wordpress-hosting" class="nav-link">Managed
                        WordPress Hosting</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="hosting/vps-hosting" class="nav-link">VPS Hosting</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="hosting/dedicated-server-hosting" class="nav-link">Dedicated
                        Server</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle">Security</a>
                  <ul class="dropdown-menu">

                    <li class="nav-item">
                      <a routerLink="security/ssl-certificate" class="nav-link">SSL Certificate</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="security/website-security" class="nav-link">Website Security</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="security/website-backup" class="nav-link">Website Backup</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle">Marketing</a>
                  <ul class="dropdown-menu">

                    <li class="nav-item">
                      <a routerLink="marketing/email-marketing" class="nav-link">Email Marketing</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="marketing/seo" class="nav-link">Search Engine Visilibity</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link dropdown-toggle">Email</a>
                  <ul class="dropdown-menu">

                    <li class="nav-item">
                      <a routerLink="email/workspace-email" class="nav-link">Workspace Email</a>
                    </li>
                    <li class="nav-item">
                      <a routerLink="email/professional-email" class="nav-link">Proffesional Email</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="pricing.html" class="nav-link">Blog</a>
                </li>
                <li class="nav-item">
                  <a routerLink="join/partner-program" class="nav-link">Reseller</a>
                </li>
              </ul>
            </div>
            <!-- navbar-option -->
            <div class="navbar-option">
              <div class="navbar-option-item">
                <a [href]="cart?.nextStepUrl" target="_blank" class="shopping-cart navbar-option-icon">
                  <span><i class="flaticon-shopping-bags"></i></span>
                  <span class="shopping-cart-tooltip">{{cart?.cartCount || '0'}}</span>
                </a>
              </div>
              <div class="navbar-option-item dropdown">
                <button class="search navbar-option-icon dropdown-toggle" type="button" id="search2"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="navbar-search-zoom"><i class="flaticon-zoom"></i></span>
                  <span class="navbar-search-cancel"><i class="flaticon-cancel"></i></span>
                </button>
                <div class="navbar-search dropdown-menu" aria-labelledby="search2">
                  <form>
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Search...">
                      <button class="btn"><span><i class="flaticon-loupe"></i></span></button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="navbar-option-item">
                <a href="https://sso.secureserver.net/v1/login?plid=499263&prog_id=FlickMax&realm=idp&path=/products?Fplid?D499263&app=account&auth_reason=1&autodetect=true&iframe=false"
                  target="_blank" class="btn btn-gradient text-nowrap">
                  Login / Register
                </a>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- .end navbar -->
</header>