 <!-- .end navbar -->
 
 <section class="domain-search-section blue-gradient pt-100 pb-80 overflow-hidden">
    <div class="search-section-shape">
        <div class="search-shape-item">
            <img src="assets/images/domain-search-shape-1.png" alt="shape">
        </div>
        <div class="search-shape-item">
            <img src="assets/images/domain-search-shape-2.png" alt="shape">
        </div>
    </div>
    <div class="container">
        <div class="section-title">
            <h2>WordPress Hosting</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
        </div>
        
    </div>
</section>
<!-- .end header -->
<!-- pricing-section -->
<section class="pricing-section p-tb-100">
<div class="container">
    <div class="section-title section-title-two">
        <h2>Pricing & plans</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
    </div>
    <div class="pricing-table-secondary">
        <table>
            <thead>
                <tr>
                    <th class="th-head text-center"><img src="assets/images/table-header.png" alt="shape"></th>
                    <th>
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Light</div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                            </div>
                            <div class="pricing-item-amount">
                                <p>Starting at</p>
                                <div class="pricing-item-amount-number"><small>$</small>3.45<span>/Month</span></div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Swift</div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                            </div>
                            <div class="pricing-item-amount">
                                <p>Starting at</p>
                                <div class="pricing-item-amount-number"><small>$</small>4.90<span>/Month</span></div>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="pricing-secondary-header">
                            <div class="pricing-header-title">
                                <div class="pricing-header-title-text">Turbo</div>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                            </div>
                            <div class="pricing-item-amount">
                                <p>Starting at</p>
                                <div class="pricing-item-amount-number"><small>$</small>9.31<span>/Month</span></div>
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            <!-- Inside the tbody, there are some classes which are very important for the styling of td. 1. td-list-name: which is used for left-aligned text and indicate the title of the table row. 2. td-check: which is used for the check icon with blue color. 3. td-cancel: which is used for the cross icon with orange color. 4. td-blank: which is used for the blank space of td. 5. td-domain-name: which is used for the domain name as like domain-name.html page. These classes except "td-list-name" class are not available right now but their styles are in this table CSS. Just add with their require HTML elements and enjoy. -->
            <tbody>
                <tr>
                    <td class="td-list-name td-bg">Website</td>
                    <td>1</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Database</td>
                    <td>5</td>
                    <td>15</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Storage</td>
                    <td>100 GB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Transfer</td>
                    <td>1 TB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Control Panel</td>
                    <td>CPanel</td>
                    <td>CPanel</td>
                    <td>Plesk</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">SSL & SSD</td>
                    <td>Free</td>
                    <td>Free</td>
                    <td>Free</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">Money-Back Guarantee</td>
                    <td>Anytime</td>
                    <td>Anytime</td>
                    <td>Anytime</td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg"></td>
                    <td><a href="cart.html" class="btn btn-gradient">Buy Now</a></td>
                    <td><a href="cart.html" class="btn btn-gradient">Buy Now</a></td>
                    <td><a href="cart.html" class="btn btn-gradient">Buy Now</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
<!-- .end pricing-section -->
<!-- choose-section -->
<section class="choose-section pt-100 pb-70 blue-gradient-with-opacity">
<div class="container">
    <div class="section-title section-title-two">
        <small>Why best</small>
        <h2>Why choose us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>01</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-1.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Dedicated support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>02</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-2.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data security</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>03</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-3.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data migration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end choose-section -->
<!-- feature-section -->
<section class="feature-section pt-100 pb-70">
<div class="container">
    <div class="section-title section-title-two">
        <small>We offers</small>
        <h2>Hosting features</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-1.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>Personalized Email Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-2.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>WordPress & cPanel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-3.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>Free SSL Certificates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-4.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>LiteSpeed Web Server</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-5.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>PHP Selector</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-6.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>No Multi-Tenancy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end feature-section -->