<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-6">
            <div class="header-page-content text-center text-lg-start">
                <h1>Website Security</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">SSL Certificates</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-sm-12 offset-lg-3 col-lg-3">
            <div class="header-page-image">
                <img src="assets/images/shared-header-shape.png" alt="shape">
            </div>
        </div>
    </div>
</div>
<!-- .end header -->
<!-- pricing-section -->
<section class="pricing-section pt-100 pb-70">
<div class="container">
    <div class="section-title section-title-two">
        <h2>Pricing & Plans</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="pricing-item pricing-item-two">
                <div class="pricing-secondary-header">
                    <div class="pricing-header-title">
                        <h3 class="pricing-header-title-text">Regular SSL</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                    </div>
                    <div class="pricing-item-amount">
                        <p>Starting at</p>
                        <h4 class="pricing-item-amount-number"><small>$</small>25.10<span>/Month</span></h4>
                    </div>
                </div>
                <div class="pricing-item-body">
                    <ul class="pricing-body-list pricing-body-list-two">
                        <li>Domain <span>(Secure HTTPS)</span></li>
                        <li>Browser <span>(Padlock Visible)</span></li>
                        <li>Warranty <span>(Not Included)</span></li>
                        <li>Encryption <span>(128/256 bit AES)</span></li>
                        <li>Websites <span>(2)</span></li>
                    </ul>
                    <a href="cart.html" class="btn btn-gradient">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="pricing-item pricing-item-two">
                <div class="pricing-secondary-header">
                    <div class="pricing-header-title">
                        <h3 class="pricing-header-title-text">Standard SSL</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                    </div>
                    <div class="pricing-item-amount">
                        <p>Starting at</p>
                        <h4 class="pricing-item-amount-number"><small>$</small>42.49<span>/Month</span></h4>
                    </div>
                </div>
                <div class="pricing-item-body">
                    <ul class="pricing-body-list pricing-body-list-two">
                        <li>Domain <span>(Secure HTTPS)</span></li>
                        <li>Browser <span>(Padlock Visible)</span></li>
                        <li>Warranty <span>($120.54)</span></li>
                        <li>Encryption <span>(128/256 bit AES)</span></li>
                        <li>Websites <span>(5)</span></li>
                    </ul>
                    <a href="cart.html" class="btn btn-gradient">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="pricing-item pricing-item-two">
                <div class="pricing-secondary-header">
                    <div class="pricing-header-title">
                        <h3 class="pricing-header-title-text">Enterprise SSL</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                    </div>
                    <div class="pricing-item-amount">
                        <p>Starting at</p>
                        <h4 class="pricing-item-amount-number"><small>$</small>64.99<span>/Month</span></h4>
                    </div>
                </div>
                <div class="pricing-item-body">
                    <ul class="pricing-body-list pricing-body-list-two">
                        <li>Domain <span>(Secure HTTPS)</span></li>
                        <li>Browser <span>(Padlock Visible)</span></li>
                        <li>Warranty <span>($520.50)</span></li>
                        <li>Encryption <span>(128/256 bit AES)</span></li>
                        <li>Websites <span>(10)</span></li>
                    </ul>
                    <a href="cart.html" class="btn btn-gradient">Buy Now</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="pricing-item pricing-item-two">
                <div class="pricing-secondary-header">
                    <div class="pricing-header-title">
                        <h3 class="pricing-header-title-text">Ultimate SSL</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicin</p>
                    </div>
                    <div class="pricing-item-amount">
                        <p>Starting at</p>
                        <h4 class="pricing-item-amount-number"><small>$</small>85.45<span>/Month</span></h4>
                    </div>
                </div>
                <div class="pricing-item-body">
                    <ul class="pricing-body-list pricing-body-list-two">
                        <li>Domain <span>(Secure HTTPS)</span></li>
                        <li>Browser <span>(Padlock Visible)</span></li>
                        <li>Warranty <span>($1000.72)</span></li>
                        <li>Encryption <span>(128/256 bit AES)</span></li>
                        <li>Websites <span>(15)</span></li>
                    </ul>
                    <a href="cart.html" class="btn btn-gradient">Buy Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end pricing-section -->
<!-- choose-section -->
<section class="choose-section pb-70">
<div class="container">
    <div class="section-title section-title-two">
        <small>Why best</small>
        <h2>Why choose us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 full-height border-around">
                    <div class="box-number"><span>01</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-1.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Dedicated support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 full-height border-around">
                    <div class="box-number"><span>02</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-2.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data security</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 full-height border-around">
                    <div class="box-number"><span>03</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-3.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data migration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end choose-section -->
<!-- faq-section -->
<section class="faq-section pt-100 pb-70 blue-gradient-with-opacity">
<div class="container">
    <div class="section-title section-title-two">
        <h2>What Would You Like To Know?</h2>
    </div>
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
            <div class="faq-accordion">
                <!-- item goes here -->
                <div class="faq-accordion-item faq-accordion-item-active bg-white"> <!-- Use "faq-accordion-item-active" class for toggle accordion -->
                    <div class="faq-accordion-header">
                        <h3 class="faq-accordion-title">What Is Dedicated Hosting?</h3>
                    </div>
                    <div class="faq-accordion-body">
                        <div class="faq-accordion-body-inner">
                            <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaquis nostrud ullamco nisi ut aliquip.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion-item bg-white">
                    <div class="faq-accordion-header">
                        <h3 class="faq-accordion-title">Does the price grow up with sharing?</h3>
                        <div class="faq-accordion-header-overlay"></div>
                    </div>
                    <div class="faq-accordion-body">
                        <div class="faq-accordion-body-inner">
                            <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaquis nostrud ullamco nisi ut aliquip.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion-item bg-white">
                    <div class="faq-accordion-header">
                        <h3 class="faq-accordion-title">What access do I have on a free trial?</h3>
                        <div class="faq-accordion-header-overlay"></div>
                    </div>
                    <div class="faq-accordion-body">
                        <div class="faq-accordion-body-inner">
                            <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaquis nostrud ullamco nisi ut aliquip.</p>
                        </div>
                    </div>
                </div>
                <div class="faq-accordion-item bg-white">
                    <div class="faq-accordion-header">
                        <h3 class="faq-accordion-title">What access do I have on the free plan?</h3>
                        <div class="faq-accordion-header-overlay"></div>
                    </div>
                    <div class="faq-accordion-body">
                        <div class="faq-accordion-body-inner">
                            <p class="faq-accordion-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaquis nostrud ullamco nisi ut aliquip.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-1 pb-30">
            <div class="about-content-image">
                <img src="assets/images/faq.png" alt="faq">
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end faq-section -->