<!-- Navbar STart -->
<header id="topnav" class="defaultscroll sticky">
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" href="index.html">
        <img src="assets/images/logo-dark.png" class="l-dark" height="16" alt="">
        <img src="assets/images/logo-light.png" class="l-light" height="16" alt="">
      </a>
    </div>
    <div class="buy-button">
      <a href="#" class="text-dark h6 mr-3 login" data-toggle="modal" data-target="#LoginForm">Login</a>
      <a href="https://1.envato.market/hostick" target="_blank" class="btn btn-primary">Support</a>
    </div>
    <!--end login button-->
    <!-- End Logo container-->
    <div class="menu-extras">
      <div class="menu-item">
        <!-- Mobile menu toggle-->
        <a class="navbar-toggle">
          <div class="lines">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <!-- End mobile menu toggle-->
      </div>
    </div>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu nav-light">
        <li class="has-submenu">
          <a href="javascript:void(0)">Home</a><span class="menu-arrow"></span>
          <ul class="submenu">
            <li><a href="index.html">Home One</a></li>
            <li><a href="index-two.html">Home Two</a></li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="javascript:void(0)">Hosting</a><span class="menu-arrow"></span>
          <ul class="submenu megamenu">
            <li>
              <ul>
                <li><a href="hosting-shared.html"><img src="assets/images/icons/shared.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Shared Hosting</a></li>
                <li><a href="hosting-vps.html"><img src="assets/images/icons/vps.svg" class="avatar avatar-ex-sm mr-2"
                      alt="">
                    VPS Hosting</a></li>
                <li><a href="hosting-dedicated.html"><img src="assets/images/icons/dedicated.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Dedicated Server</a></li>
                <li><a href="hosting-cloud.html"><img src="assets/images/icons/cloud.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Cloud Hosting</a></li>
                <li><a href="hosting-web.html"><img src="assets/images/icons/web.svg" class="avatar avatar-ex-sm mr-2"
                      alt="">
                    Web Hosting</a></li>
              </ul>
            </li>

            <li>
              <ul>
                <li><a href="hosting-reseller.html"><img src="assets/images/icons/reseller.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Reseller Hosting</a></li>
                <li><a href="hosting-domain.html"><img src="assets/images/icons/domain.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Domain Name</a></li>
                <li><a href="hosting-wordpress.html"><img src="assets/images/icons/wordpress.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Worpress Server</a></li>
                <li><a href="hosting-email.html"><img src="assets/images/icons/email.svg"
                      class="avatar avatar-ex-sm mr-2" alt=""> Email Server</a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="has-submenu">
          <a href="javascript:void(0)">Pages</a><span class="menu-arrow"></span>
          <ul class="submenu">
            <li><a href="page-about.html">Company</a></li>
            <li class="has-submenu"><a href="javascript:void(0)"> Blog</a><span class="submenu-arrow"></span>
              <ul class="submenu">
                <li><a href="page-blog.html">Blog</a></li>
                <li><a href="page-blog-sidebar.html">Blog Sidebar</a></li>
                <li><a href="page-blog-single.html">Single Blog</a></li>
              </ul>
            </li>
            <li><a href="page-faqs.html">FAQs</a></li>
            <li><a href="page-support.html">Support Center</a></li>
            <li><a href="page-privacy.html">Privacy Policy</a></li>
            <li><a href="page-terms.html">Terms & Conditions</a></li>
            <li class="has-submenu"><a href="javascript:void(0)"> Auth Pages</a><span class="submenu-arrow"></span>
              <ul class="submenu">
                <li><a href="page-login.html">Login</a></li>
                <li><a href="page-signup.html">Signup</a></li>
                <li><a href="page-forgot-password.html">Forgot Password</a></li>
              </ul>
            </li>
            <li><a href="page-404.html">404</a></li>
          </ul>
        </li>

        <li><a href="contact.html">Contact</a></li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->

<!-- Home Start -->
<section class="bg-half-170 d-table w-100 bg-primary" style="background: url('assets/images/bg/domain.png') top center;"
  id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-12">
        <div class="title-heading text-center">
          <h4 class="heading text-white mb-3">Search Your Domain Name</h4>
          <p class="text-white-50 para-desc mx-auto mb-0">Create, collaborate, and turn your ideas into incredible
            products with the definitive platform for digital design.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
    </svg>
  </div>
</div>
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="card domain-name border-0 rounded-pill overflow-hidden">
          <div class="py-5 px-4 bg-white">
            <div class="input-group form-group mb-0">
              <input name="name" id="name" type="text" class="form-control rounded-left"
                placeholder="Your domain name :">
              <div class="input-group-append" id="button-addon4">
                <select class="form-control rounded-0" id="domain_list">
                  <option>.com</option>
                  <option>.in</option>
                  <option>.org</option>
                  <option>.net</option>
                  <option>.info</option>
                  <option>.me</option>
                </select>
                <input type="submit" id="search" name="search" class="searchbtn btn btn-primary btn-block"
                  value="Search">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-2 col-md-4 col-6 mt-4">
            <a href="javascript:void(0)" class="text-dark">
              <div class="rounded shadow bg-white p-1 text-center">
                <h6 class="mb-0">.in <br><span class="text-primary">$4.99</span>/year</h6>
              </div>
            </a>
          </div>
          <!--end col-->

          <div class="col-lg-2 col-md-4 col-6 mt-4">
            <a href="javascript:void(0)" class="text-dark">
              <div class="rounded shadow bg-white p-1 text-center">
                <h6 class="mb-0">.com <br><span class="text-primary">$5.99</span>/year</h6>
              </div>
            </a>
          </div>
          <!--end col-->

          <div class="col-lg-2 col-md-4 col-6 mt-4">
            <a href="javascript:void(0)" class="text-dark">
              <div class="rounded shadow bg-white p-1 text-center">
                <h6 class="mb-0">.org <br><span class="text-primary">$6.99</span>/year</h6>
              </div>
            </a>
          </div>
          <!--end col-->

          <div class="col-lg-2 col-md-4 col-6 mt-4">
            <a href="javascript:void(0)" class="text-dark">
              <div class="rounded shadow bg-white p-1 text-center">
                <h6 class="mb-0">.net <br><span class="text-primary">$7.99</span>/year</h6>
              </div>
            </a>
          </div>
          <!--end col-->

          <div class="col-lg-2 col-md-4 col-6 mt-4">
            <a href="javascript:void(0)" class="text-dark">
              <div class="rounded shadow bg-white p-1 text-center">
                <h6 class="mb-0">.info <br><span class="text-primary">$3.99</span>/year</h6>
              </div>
            </a>
          </div>
          <!--end col-->

          <div class="col-lg-2 col-md-4 col-6 mt-4">
            <a href="javascript:void(0)" class="text-dark">
              <div class="rounded shadow bg-white p-1 text-center">
                <h6 class="mb-0">.me <br><span class="text-primary">$2.99</span>/year</h6>
              </div>
            </a>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-3">Why choose Hostick ?</h4>
          <p class="text-muted para-desc mx-auto mb-0">Create, collaborate, and turn your ideas into incredible products
            with the definitive platform for digital design.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row">
      <div class="col-md-4 col-12 mt-4 pt-2">
        <div class="card services serv-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-shield-check"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Safe & Secured</h5>
            <p class="para text-muted mb-0">If the distribution of letters and 'words' is random, the reader from making
              a neutral judgement</p>
          </div>
          <div class="big-icon icon-right">
            <i class="uil uil-shield-check"></i>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 col-12 mt-4 pt-2">
        <div class="card services serv-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-invoice"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Money Back Guarentee</h5>
            <p class="para text-muted mb-0">If the distribution of letters and 'words' is random, the reader from making
              a neutral judgement</p>
          </div>
          <div class="big-icon icon-right">
            <i class="uil uil-invoice"></i>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 col-12 mt-4 pt-2">
        <div class="card services serv-primary rounded p-4 bg-light position-relative overflow-hidden border-0">
          <span class="h1 icon2 text-primary">
            <i class="uil uil-user-check"></i>
          </span>
          <div class="card-body p-0 content">
            <h5>Dedicated Supports</h5>
            <p class="para text-muted mb-0">If the distribution of letters and 'words' is random, the reader from making
              a neutral judgement</p>
          </div>
          <div class="big-icon icon-right">
            <i class="uil uil-user-check"></i>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Home End -->

<!-- Pricing Start -->
<section class="section bg-primary">
  <div class="container">
    <div class="row mb-md-4 pb-md-2 justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-md-5 pb-md-5">
          <h4 class="title text-white mb-3">Pricing Rates or Tables</h4>
          <p class="text-white-50 para-desc mx-auto mb-0">Create, collaborate, and turn your ideas into incredible
            products with the definitive platform for digital design.</p>
        </div>
      </div>
      <!--end col-->
      <div class="home-shape-arrow d-block d-md-none">
        <a href="#price" class="mouse-down"><i class="mdi mdi-arrow-down arrow-icon bg-light text-dark h5"></i></a>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end price-->

<section class="section bg-light" id="price">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 mt-md-5 pt-md-3 mt-lg-0 pt-lg-0">
        <div class="table-responsive box-top-position bg-white shadow rounded">
          <table class="table mb-0 table-center">
            <thead>
              <tr class="bg-light">
                <th scope="col" style="min-width: 250px;">Domain Name</th>
                <th scope="col" style="width: 150px;">Registration</th>
                <th scope="col" style="width: 100px;">2 Year</th>
                <th scope="col" style="width: 100px;">Renew</th>
                <th scope="col" style="width: 140px;">Click Here</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>.com</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.in</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.online</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.net</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.co</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.live</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.xyz</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.org</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.club</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.me</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.today</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.life</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.shop</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.store</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>

              <tr>
                <th>.solution</th>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td>$ 3.99</td>
                <td><a href="javascript:void(0)" class="btn btn-primary">Buy Now</a></td>
              </tr>
            </tbody>
          </table>
          <!--end table-->
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Pricing End -->

<!-- CTA Start -->
<div class="container-fluid">
  <div class="bg-primary py-5 px-4 rounded-pill" style="background: url('assets/images/cta.png') center center;">
    <div class="row py-5">
      <div class="container py-md-5">
        <div class="row justify-content-center">
          <div class="section-title text-center">
            <h2 class="text-white mb-4">Managed WordPress Hosting Or Server</h2>
            <p class="text-white-50 para-desc mx-auto mb-0">Create, collaborate, and turn your ideas into incredible
              products with the definitive platform for digital design.</p>

            <div class="mt-4">
              <a href="javascript:void(0)" class="btn btn-light">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CTA End -->

<!-- Testi & FAQs Start -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-center mb-4 pb-2">
          <h4 class="title mb-3">What People Say</h4>
          <p class="text-muted para-desc mx-auto mb-0">Create, collaborate, and turn your ideas into incredible products
            with the definitive platform for digital design.</p>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row justify-content-center">
      <div class="col-lg-7 mt-4">
        <div id="customer-testi" class="owl-carousel owl-theme">
          <div class="card border-0 text-center client-bar m-2">
            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
              <i class="mdi mdi-format-quote-open icons text-primary"></i>
              <p class="text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be
                distracted from making a neutral judgement on the visual impact and readability of the typefaces.</p>
            </div>
            <img src="assets/images/client/01.jpg"
              class="avatar avatar-md-md mt-4 testi-img rounded-circle shadow mx-auto" alt="">
            <h6 class="text-primary mt-2 mb-0">Thomas Israel</h6>
            <small class="text-muted">C.E.O</small>
          </div>

          <div class="card border-0 text-center client-bar m-2">
            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
              <i class="mdi mdi-format-quote-open icons text-primary"></i>
              <p class="text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be
                distracted from making a neutral judgement on the visual impact and readability of the typefaces.</p>
            </div>
            <img src="assets/images/client/02.jpg"
              class="avatar avatar-md-md mt-4 testi-img rounded-circle shadow mx-auto" alt="">
            <h6 class="text-primary mt-2 mb-0">Thomas Israel</h6>
            <small class="text-muted">C.E.O</small>
          </div>

          <div class="card border-0 text-center client-bar m-2">
            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
              <i class="mdi mdi-format-quote-open icons text-primary"></i>
              <p class="text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be
                distracted from making a neutral judgement on the visual impact and readability of the typefaces.</p>
            </div>
            <img src="assets/images/client/03.jpg"
              class="avatar avatar-md-md mt-4 testi-img rounded-circle shadow mx-auto" alt="">
            <h6 class="text-primary mt-2 mb-0">Thomas Israel</h6>
            <small class="text-muted">C.E.O</small>
          </div>

          <div class="card border-0 text-center client-bar m-2">
            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
              <i class="mdi mdi-format-quote-open icons text-primary"></i>
              <p class="text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be
                distracted from making a neutral judgement on the visual impact and readability of the typefaces.</p>
            </div>
            <img src="assets/images/client/04.jpg"
              class="avatar avatar-md-md mt-4 testi-img rounded-circle shadow mx-auto" alt="">
            <h6 class="text-primary mt-2 mb-0">Thomas Israel</h6>
            <small class="text-muted">C.E.O</small>
          </div>

          <div class="card border-0 text-center client-bar m-2">
            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
              <i class="mdi mdi-format-quote-open icons text-primary"></i>
              <p class="text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be
                distracted from making a neutral judgement on the visual impact and readability of the typefaces.</p>
            </div>
            <img src="assets/images/client/05.jpg"
              class="avatar avatar-md-md mt-4 testi-img rounded-circle shadow mx-auto" alt="">
            <h6 class="text-primary mt-2 mb-0">Thomas Israel</h6>
            <small class="text-muted">C.E.O</small>
          </div>

          <div class="card border-0 text-center client-bar m-2">
            <div class="card-body content rounded-pill  px-4 py-5 shadow position-relative">
              <i class="mdi mdi-format-quote-open icons text-primary"></i>
              <p class="text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not be
                distracted from making a neutral judgement on the visual impact and readability of the typefaces.</p>
            </div>
            <img src="assets/images/client/06.jpg"
              class="avatar avatar-md-md mt-4 testi-img rounded-circle shadow mx-auto" alt="">
            <h6 class="text-primary mt-2 mb-0">Thomas Israel</h6>
            <small class="text-muted">C.E.O</small>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center mb-4 pb-2">
      <div class="col-md-6">
        <div class="section-title">
          <h4 class="title mb-md-0 mb-4">Frequently asked <br> questions</h4>
        </div>
      </div>

      <div class="col-md-6">
        <div class="section-title">
          <p class="text-muted para-desc mb-0">Create, collaborate, and turn your ideas into incredible products with
            the definitive platform for digital design.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="media">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-help-circle fea icon-ex-md text-primary mr-2 mt-1">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
          <div class="media-body">
            <h5 class="mt-0">How our <span class="text-primary">Hostick</span> work ?</h5>
            <p class="answer text-muted mb-0">Due to its widespread use as filler text for layouts, non-readability is
              of great importance: human perception is tuned to recognize certain patterns and repetitions in texts.</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="media">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-help-circle fea icon-ex-md text-primary mr-2 mt-1">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
          <div class="media-body">
            <h5 class="mt-0"> What is the main process open account ?</h5>
            <p class="answer text-muted mb-0">If the distribution of letters and 'words' is random, the reader will not
              be distracted from making a neutral judgement on the visual impact</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="media">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-help-circle fea icon-ex-md text-primary mr-2 mt-1">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
          <div class="media-body">
            <h5 class="mt-0"> How to make unlimited data entry ?</h5>
            <p class="answer text-muted mb-0">Furthermore, it is advantageous when the dummy text is relatively
              realistic so that the layout impression of the final publication is not compromised.</p>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-6 col-12 mt-4 pt-2">
        <div class="media">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-help-circle fea icon-ex-md text-primary mr-2 mt-1">
            <circle cx="12" cy="12" r="10"></circle>
            <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
            <line x1="12" y1="17" x2="12.01" y2="17"></line>
          </svg>
          <div class="media-body">
            <h5 class="mt-0"> Is <span class="text-primary">Hostick</span> safer to use with my account ?</h5>
            <p class="answer text-muted mb-0">The most well-known dummy text is the 'Lorem Ipsum', which is said to have
              originated in the 16th century. Lorem Ipsum is composed in a pseudo-Latin language which more or less
              corresponds to 'proper' Latin.</p>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row mt-5 pt-4 justify-content-center">
      <div class="col-12 text-center">
        <div class="section-title">
          <h4 class="title mb-3">Have Question ? Get in touch!</h4>
          <p class="text-muted para-desc mx-auto">Create, collaborate, and turn your ideas into incredible products with
            the definitive platform for digital design.</p>
          <a href="javascript:void(0)" class="btn btn-primary mt-4"><i class="mdi mdi-phone"></i> Contact us</a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="rounded-pill bg-primary py-5 px-4">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="section-title text-center">
            <h4 class="title text-white mb-4">Get the latest update from Hostick</h4>
            <p class="text-white-50">Subscribe and receive the latest update</p>

            <div class="subscribe-form mt-5">
              <form action="#" class="position-relative" style="max-width: 600px; margin: 0 auto;">
                <input name="email" id="email" type="email" class="rounded-pill bg-white"
                  placeholder="example@mail.com">
                <button type="submit" class="btn btn-pills btn-primary">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
<!--end section-->
<!-- Testi & FAQs End -->

<!-- Footer Start -->
<footer class="footer bg-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="section-title text-md-center">
          <h4 class="text-light mb-0">Get In Touch !</h4>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->

    <div class="row mt-3 justify-content-center">
      <div class="col-md-4 mt-4 pt-2">
        <div class="text-md-center">
          <div class="icon">
            <i data-feather="mail" class="fea icon-md text-light"></i>
          </div>
          <div class="content mt-2">
            <h5 class="title text-light">Email</h5>
            <a href="mailto:contact@example.com" class="text-foot">contact@example.com</a>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="text-md-center">
          <div class="icon">
            <i data-feather="phone" class="fea icon-md text-light"></i>
          </div>
          <div class="content mt-2">
            <h5 class="title text-light">Phone</h5>
            <a href="tel:+152534-468-854" class="text-foot">+152 534-468-854</a>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-md-4 mt-4 pt-2">
        <div class="text-md-center">
          <div class="icon">
            <i data-feather="map-pin" class="fea icon-md text-light"></i>
          </div>
          <div class="content mt-2">
            <h5 class="title text-light">Location</h5>
            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
              class="video-play-icon text-foot">View on Google map</a>
          </div>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-5">
    <div class="footer-bar">
      <div class="row mt-5">
        <div class="col-lg-4 col-md-12">
          <a class="logo-footer h4 mouse-down text-light" href="#home">
            <img src="assets/images/logo-light.png" height="16" alt="">
          </a>
          <p class="mt-4 text-foot">There is now an abundance of <br> readable dummy texts. These are is required purely
            to fill a space.</p>
          <ul class="list-unstyled social-icon social mb-0 mt-4">
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="facebook"
                  class="fea icon-sm fea-social"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="instagram"
                  class="fea icon-sm fea-social"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="twitter"
                  class="fea icon-sm fea-social"></i></a></li>
            <li class="list-inline-item"><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin"
                  class="fea icon-sm fea-social"></i></a></li>
          </ul>
          <!--end icon-->
        </div>

        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">
              <h5 class="text-light footer-head font-weight-normal mb-0">Hosting</h5>
              <ul class="list-unstyled footer-list mt-4">
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Shared
                    Hosting</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>VPS
                    Hosting</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Dedicated
                    Hosting</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Cloud
                    Hosting</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Reseller
                    Hosting</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Domain
                    Name</a></li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">
              <h5 class="text-light footer-head font-weight-normal mb-0">About</h5>
              <ul class="list-unstyled footer-list mt-4">
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>About
                    us</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Contact
                    us</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Terms &
                    Services</a></li>
                <li><a href="javascript:void(0)" class="text-foot"><i class="mdi mdi-chevron-right mr-1"></i>Privacy
                    Policy</a></li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-4 col-12 mt-4 pt-2 mt-lg-0 pt-lg-0">
              <h5 class="text-light footer-head font-weight-normal mb-0">Newsletter</h5>
              <p class="mt-4 text-foot">Sign up and receive the latest tips via email.</p>
              <form>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="foot-subscribe form-group position-relative">
                      <label class="text-foot">Write your email <span class="text-danger">*</span></label>
                      <input type="email" name="email" id="emailsubscribe" class="form-control rounded"
                        placeholder="Your email : " required>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <input type="submit" id="submitsubscribe" name="send" class="btn btn-primary btn-block"
                      value="Subscribe">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--end footer-->
<footer class="footer footer-line bg-footer">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-6 col-md-7">
        <div class="text-sm-left">
          <p class="mb-0 text-foot">© 2020 Hostick. Design with <i class="mdi mdi-heart text-danger"></i> by <a
              href="http://www.shreethemes.in/" target="_blank" class="text-reset">Shreethemes</a>.</p>
        </div>
      </div>
      <!--end col-->

      <div class="col-sm-6 col-md-5 mt-4 mt-sm-0 pt-2 pt-sm-0">
        <ul class="list-unstyled terms-service text-sm-right mb-0">
          <li class="list-inline-item mb-0"><a href="page-privacy.html" class="text-foot mr-2">Privacy</a></li>
          <li class="list-inline-item mb-0"><a href="page-terms.html" class="text-foot mr-2">Terms</a></li>
          <li class="list-inline-item mb-0"><a href="page-faqs.html" class="text-foot mr-2">FAQs</a></li>
          <li class="list-inline-item mb-0"><a href="contact.html" class="text-foot">Contact</a></li>
        </ul>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</footer>
<!--end footer-->
<!-- Footer End -->

<!-- Login Modal Content Start -->
<div class="modal fade" id="LoginForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content rounded shadow border-0">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Login </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="login-form">
          <div class="row">
            <div class="col-12">
              <div class="form-group position-relative">
                <label>Your Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" name="email" required="" placeholder="Your Email :">
              </div>
            </div>
            <!--end col-->

            <div class="col-12">
              <div class="form-group position-relative">
                <label>Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" required="" placeholder="Password :">
              </div>
            </div>
            <!--end col-->

            <div class="col-12">
              <div class="d-flex justify-content-between">
                <div class="form-group d-inline-block">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Remember me</label>
                  </div>
                </div>
                <p class="forgot-pass mb-0"><a href="page-forgot-password.html"
                    class="text-dark font-weight-bold">Forgot password ?</a></p>
              </div>
            </div>
            <!--end col-->
            <div class="col-12 mb-0">
              <button class="btn btn-primary w-100">Sign in</button>
            </div>
            <!--end col-->
            <div class="col-12 mt-4 text-center">
              <h6 class="mb-0">Or Login With</h6>
            </div>

            <div class="col-12">
              <div class="row">
                <div class="col-sm-6 mt-4">
                  <a href="#" class="btn btn-block btn-light bg-facebook"><i class="mdi mdi-facebook"></i> Facebook</a>
                </div>
                <div class="col-sm-6 mt-4">
                  <a href="#" class="btn btn-block btn-light"><i class="mdi mdi-google"></i> Google</a>
                </div>
              </div>
            </div>
            <div class="col-12 text-center">
              <p class="mb-0 mt-3"><small class="text-dark mr-2">Don't have an account ?</small> <a
                  href="page-signup.html" class="text-dark font-weight-bold">Sign Up</a></p>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </form>
        <!--end form-->
      </div>
    </div>
  </div>
</div>
<!-- Login Modal Content End -->



<!-- Back to top -->
<a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->