<!-- .end navbar -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-12 col-lg-6">
            <div class="header-page-content text-center text-lg-start">
                <h1>Dedicated Hosting</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod  incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                <ul class="section-button">
                    <li><button class="btn btn-pill">Get Started</button></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 offset-lg-3 col-lg-3">
            <div class="header-page-image">
                <img src="assets/images/dedicated-header-shape.png" alt="shape">
            </div>
        </div>
    </div>
</div>
<!-- .end header -->
<!-- pricing-section -->
<section class="pricing-section p-tb-100">
<div class="container">
    <div class="section-title section-title-two">
        <h2>Servers price & plans</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim </p>
    </div>
    <!-- Style for "pricing-item-amount" and "th-head" classes also available for this table. Just use these classes and add margin/padding as needed.  -->
    <div class="pricing-hosting-table">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="pricing-header-title">
                            <div class="pricing-header-title-text">Specifications</div>
                        </div>
                    </th>
                    <th>
                        Storage
                    </th>
                    <th>
                        RAM
                    </th>
                    <th>
                        Transfer
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Deploy
                    </th>
                    <th>
                        Order
                    </th>
                </tr>
            </thead>
            <!-- Inside the tbody, there are some classes which are very important for the styling of td. 1. td-list-name: which is used for left-aligned text and indicate the title of the table row. 2. td-check: which is used for the check icon with blue color. 3. td-cancel: which is used for the cross icon with orange color. 4. td-blank: which is used for the blank space of td. 5. td-orange: which is used for the orange color. "td-check", "td-cancel" and "td-blank" classes are currently not available in this table but in the CSS, styles are availble. Just add with their require HTML elements and enjoy. -->
            <tbody>
                <tr>
                    <td class="td-list-name td-bg">E3-1240V5 v1.3GHz (4 Cores + NG)</td>
                    <td>15 GB</td>
                    <td>2 TB</td>
                    <td>3 TB</td>
                    <td class="td-orange">$123</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E4-1240V5 v2.3GHz (3 Cores + HG)</td>
                    <td>30 GB</td>
                    <td>4 TB</td>
                    <td>5 TB</td>
                    <td class="td-orange">$135</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E7-5698V4 v3.2GHz (4 Cores + KN)</td>
                    <td>35 GB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td class="td-orange">$145</td>
                    <td>Immediate</td>
                    <td><del>Stock Out</del></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E2-5568V5 v2.3GHz (4 Cores + RM)</td>
                    <td>40 GB</td>
                    <td>6 TB</td>
                    <td>8 TB SSD</td>
                    <td class="td-orange">$155</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E6-7456V5 v1.3GHz (4 Cores + LF)</td>
                    <td>16 GB</td>
                    <td>10 TB</td>
                    <td>10 TB</td>
                    <td class="td-orange">$170</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">R6-3324V5 v2.3GHz (5 Cores + HJ)</td>
                    <td>10 GB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td class="td-orange">$190</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">P8-66789V5 v2.3GHz (3 Cores + NG)</td>
                    <td>12 GB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td class="td-orange">$130</td>
                    <td>Immediate</td>
                    <td><del>Stock Out</del></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">T6-4432 v3.3GHz (2 Cores + HT)</td>
                    <td>50 GB</td>
                    <td>12 GB</td>
                    <td>12 GB</td>
                    <td class="td-orange">$145</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E3-4567VG v2.1GHz (2 Cores + HP)</td>
                    <td>30 GB</td>
                    <td>20 TB</td>
                    <td>20 TB SSD</td>
                    <td class="td-orange">$220</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">D9-1170V5 v2.3GHz (1 Cores + RT)</td>
                    <td>10 GB</td>
                    <td>14 TB</td>
                    <td>14 TB</td>
                    <td class="td-orange">$200</td>
                    <td>Immediate</td>
                    <td><del>Stock Out</del></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">T7-3324V5 v1.2GHz (1 Cores + NG)</td>
                    <td>12 TB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td class="td-orange">$240</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E3-5564V5 v2.3GHz (3 Cores + LP)</td>
                    <td>17 GB</td>
                    <td>30 GB</td>
                    <td>30 GB SSD</td>
                    <td class="td-orange">$180</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E3-1680V5 v1.4GHz (2 Cores + GM)</td>
                    <td>16 GB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td class="td-orange">$245</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E3-2230V5 v2.3GHz (1 Cores + LJ)</td>
                    <td>50 GB</td>
                    <td>Unlimited</td>
                    <td>Unlimited</td>
                    <td class="td-orange">$240</td>
                    <td>Immediate</td>
                    <td><del>Stock Out</del></td>
                </tr>
                <tr>
                    <td class="td-list-name td-bg">E3-6789V5 v2.1GHz (2 Cores + GM)</td>
                    <td>45 GB</td>
                    <td>70 GB SSD</td>
                    <td>10 TB SSD</td>
                    <td class="td-orange">$280</td>
                    <td>Immediate</td>
                    <td class="td-orange"><a href="cart.html">Order Now</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
<!-- .end pricing-section -->
<!-- choose-section -->
<section class="choose-section pt-100 pb-70 blue-gradient-with-opacity">
<div class="container">
    <div class="section-title section-title-two">
        <small>Why best</small>
        <h2>Why choose us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis </p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>01</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-1.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Dedicated support</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>02</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-2.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data security</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
            <div class="box-card fluid-height">
                <div class="box-card-inner box-card-inner-2 box-card-white-hover full-height border-around">
                    <div class="box-number"><span>03</span></div>
                    <div class="box-card-content text-center">
                        <div class="box-card-thumb">
                            <img src="assets/images/choose-3.png" alt="choose-us">
                        </div>
                        <div class="box-card-details">
                            <h3>Data migration</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt ttotam rem aperiam dolore magnam luptatem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end choose-section -->
<!-- feature-section -->
<section class="feature-section pt-100 pb-70">
<div class="container">
    <div class="section-title section-title-two">
        <small>We offers</small>
        <h2>Hosting features</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis</p>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-1.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>Personalized Email Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-2.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>WordPress & cPanel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-3.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>Free SSL Certificates</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-4.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>LiteSpeed Web Server</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-5.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>PHP Selector</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <div class="feature-item feature-item-2 fluid-height">
                <div class="feature-item-inner full-height bg-white">
                    <div class="feature-item-thumb feature-item-thumb-round bg-off-hard-gradient">
                        <img src="assets/images/feature-icon-6.png" alt="cloud">
                    </div>
                    <div class="feature-item-content">
                        <h3>No Multi-Tenancy</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elt,tium, totam rem aperiam, eaque ipsa quae ab illo invent ut labore et dolore magnam luptatem.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- .end feature-section -->