 <!-- domain-search-area -->
 <section class="domain-search-section-two default-box-shadow max-1000 bg-white margin-minus-box pt-100 pb-80 border-radius-3">
    <div class="container">
        <div class="section-title section-title-two text-center">
            <h2>Search perfect domain</h2>
        </div>
        <div class="domain-search domain-search-two">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Find Your Domain">
                    <div class="input-group-append">
                        <select class="form-control">
                            <option value="1">.com</option>
                            <option value="2">.co</option>
                            <option value="3">.net</option>
                        </select>
                      </div>
                    <button class="btn btn-gradient">Search Now</button>
                  </div>
            </form>
            <div class="domain-search-category">
                <ul>
                    <li>
                        <a href="#" class="active">.com only  $8.88</a>
                    </li>
                    <li>
                        <a href="#">.co only  $9.88</a>
                    </li>
                    <li>
                        <a href="#">.info only  $6.70</a>
                    </li>
                    <li>
                        <a href="#">.net only  $7.80</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- .end domian-search-area -->