<!-- ***** SLIDER ***** -->
<div class="top-header item6 overlay scrollme animateme" data-when="span" data-from="0" data-to="0.75" data-opacity="1"
  data-translatey="-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="wrapper">
          <h1 class="heading">Filter Perfect Domain Name</h1>
          <h3 class="subheading mb-4">Choose from hundreds of extensions and put your website in the world.</h3>
          <div class="mb-5">
            <div class="general-input w-50">
              <input #domainSearchInput type="text" name="domain" placeholder="Get your next domain name here"
                class="fill-input" (keyup.enter)="seacrh(domainSearchInput.value)">
              <input type="button" value="Search" class="btn btn-default-yellow-fill"
                (click)="seacrh(domainSearchInput.value)">
            </div>
          </div>
          <a class="btn btn-default-pink-fill cd-filter-trigger wow animated shake delay-2s"><i
              class="fa fa-filter"></i> Show Filter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** CONTROLS ***** -->
<section class="cd-main-content mb-80 sec-up wow animated fadeInUp fast" id="exact" *ngIf="exactMatchDomain">
  <div class="cd-filter">
    <form>
      <div class="container">
        <div class="sec-main pb-5 sec-bg1">
          <div class="plans badge feat bg-pink">{{exactMatchDomain?.available ? 'Available' :
            'Taken'}}</div>
          <div class="row">
            <a href="#0" class="cd-close"><i class="fas fa-long-arrow-alt-left"></i></a>
            <div class="col-sm-12">
              <div class="table-responsive-lg">
                <table class="table compare">
                  <tbody>
                    <tr>
                      <div class="card mt-2 mb-2">
                        <div class="card-body p-0">
                          <table class="table border-0">
                            <tr class="card-text bg-pink">
                              <td class="pl-3 pt-2 pb-2 text-white">{{exactMatchDomain?.available ? 'Available' :
                                'Taken'}}
                                <span><i class="fa fa-question-circle"></i></span>
                              </td>
                              <td class="pt-2 pb-2 text-white" style="text-align:right;" colspan="2">Call
                                1-800-1210120 for
                                buying aassistance
                              </td>
                            </tr>
                            <tr class="card-text">
                              <td class="border-0 pl-3">
                                <h3>
                                  <span>{{exactMatchDomain?.domain}} {{' '}} {{exactMatchDomain?.available ? 'is
                                    available' : 'is not available'}}</span>
                                </h3>
                              </td>
                              <td class="border-0" *ngIf="exactMatchDomain?.available" style="text-align: right;">
                                <span *ngIf="exactMatchDomain?.salePrice !== exactMatchDomain?.listPrice"
                                  class="ltgh">${{exactMatchDomain?.listPrice}}</span>
                                <b class="c-pink">{{exactMatchDomain?.salePrice}}*</b>
                                <br>
                                <!-- <span>${{price?.PriceInfo?.RenewalPrice}}*/yr when you renew</span> -->
                              </td>
                              <td class="border-0" *ngIf="exactMatchDomain?.available">
                                <span><button type="submit" class="btn btn-primary float-right">Add to
                                    Cart</button></span>
                              </td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- <div class="col-md-6">
              <div class="cd-filter-block">
                <h4>Highlight</h4>
                <ul class="radio-group radios-filter cd-filter-content list">
                  <li>
                    <input value="all" type="radio" name="radioButton" id="radio1" checked />
                    <label class="radio-label" for="radio1">All Domains</label>
                  </li>
                  <li>
                    <input value=".sale" type="radio" name="radioButton" id="radio2">
                    <label class="radio-label" for="radio2">Sales</label>
                  </li>
                  <li>
                    <input value=".newest" type="radio" name="radioButton" id="radio3">
                    <label class="radio-label" for="radio3">Newest</label>
                  </li>
                  <li>
                    <input value=".popular" type="radio" name="radioButton" id="radio4">
                    <label class="radio-label" for="radio4">Popular</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cd-filter-block checkbox-group">
                <h4>Types</h4>
                <ul class="cd-filter-content cd-filters list">
                  <li>
                    <input class="filter" value=".gtld" type="checkbox" id="checkbox1">
                    <label class="checkbox-label" for="checkbox1">gtld (Generic)</label>
                  </li>
                  <li>
                    <input class="filter" value=".cctld" type="checkbox" id="checkbox2">
                    <label class="checkbox-label" for="checkbox2">cctld (Country)</label>
                  </li>
                  <li>
                    <input class="filter" value=".ngtld" type="checkbox" id="checkbox3">
                    <label class="checkbox-label" for="checkbox3">ngtld (News)</label>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cd-filter-block">
                <div class="cd-filter-content cd-select">
                  <select class="select-filter">
                    <option value="all">Select Category</option>
                    <option value=".business">Business</option>
                    <option value=".commerce">Commerce</option>
                    <option value=".social">Social</option>
                    <option value=".health">Health</option>
                    <option value=".educations">Education</option>
                    <option value=".technology">Technology</option>
                    <option value=".others">Others</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="cd-filter-block checkbox-group">
                <input type="text" class="input" data-ref="input-search"
                  placeholder="Enter a domain extension (.com)" />
              </div>
            </div>
            <div class="range-disabled">
              <input name="minSize" class="range-slider-input tooltip-parent" type="range" min="0" max="5" value="0" />
              <input name="maxSize" class="range-slider-input tooltip-parent" type="range" min="0" max="5" value="5" />
            </div> -->
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- ***** FILTER PLANS ***** -->
<div class="mixcontainer sec-normal sec-bg2 motpath" data-ref="container" id="domain-list">
  <div class="container ">
    <div class="pricing special">
      <div class="p-0 m-0">
        <div class="best-plans pricing">
          <div class="sec-main sec-bg1">

            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive-lg">
                  <table class="table compare" *ngIf="recommendedDomains?.length > 0;else elseBlock">
                    <tbody *ngFor="let d of recommendedDomains">
                      <ng-container *ngTemplateOutlet="domainTableRow; context: prepareTableRow(d)"></ng-container>
                      <ng-template #domainTableRow let-domain="domain" let-price="price">
                        <tr>
                          <div class="card mt-2 mb-2">
                            <div class="card-body" [ngClass]="{'pt-0 pb-0': domain.Inventory === 'registry_premium'}">
                              <table class="table" style="border: none !important;">
                                <tr class="card-text" *ngIf="domain.Inventory === 'registry_premium'">
                                  <td>Premium <span><i class="fa fa-question-circle"></i></span></td>
                                  <td style="text-align:right;" colspan="2">Call 1-800-1210120 for buying aassistance
                                  </td>
                                </tr>
                                <tr class="card-text">
                                  <td class="border-0"
                                    [ngClass]="{'p-1 pb-1': domain.Inventory !== 'registry_premium'}">
                                    <h3>
                                      <b *ngIf="domain.Inventory === 'registry_premium'; else noPremium">{{domain?.Fqdn?.split('.'
                                        + domain.Extension)[0]}}.{{domain?.Extension}}</b>
                                      <ng-template #noPremium>
                                        <span>{{domain?.Fqdn?.split('.' +
                                          domain.Extension)[0]}}.{{domain?.Extension}}</span>
                                      </ng-template>
                                    </h3>
                                  </td>
                                  <td class="border-0" [ngClass]="{'p-1 pb-1': domain.Inventory !== 'registry_premium'}"
                                    style="text-align: right;"><span
                                      *ngIf="price?.PriceInfo?.TotalCurrentPrice !== price?.PriceInfo?.TotalListPrice"
                                      class="ltgh">${{price?.PriceInfo?.TotalListPrice}}</span>
                                    <b *ngIf="domain.Inventory === 'registry_premium'; else noPremiumPrice"
                                      class="c-pink">${{price?.PriceInfo?.TotalCurrentPrice}}*</b>
                                    <ng-template #noPremiumPrice>
                                      <span class="c-pink">${{price?.PriceInfo?.TotalCurrentPrice}}*</span>
                                    </ng-template>


                                    <br>
                                    <span>${{price?.PriceInfo?.RenewalPrice}}*/yr when you renew</span>
                                  </td>
                                  <td class="border-0"
                                    [ngClass]="{'pt-1 pb-1': domain.Inventory !== 'registry_premium'}">
                                    <span><button type="submit" class="btn btn-primary float-right">Add to
                                        Cart</button></span>
                                  </td>
                                </tr>
                              </table>
                            </div>
                          </div>
                        </tr>
                      </ng-template>
                    </tbody>
                  </table>
                  <ng-template #elseBlock>
                    <h2> We are here to help you to search Domains.</h2>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="cd-fail-message">"No items could be found matching the criteria"</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ***** FEATURES ***** -->
<section id="scroll" class="history-section feat01 sec-normal">
  <div class="container">
    <div class="randomline">
      <div class="bigline"></div>
      <div class="smallline"></div>
    </div>
    <div class="sec-main sec-bg1">
      <div class="row">
        <div class="col-md-12 col-lg-6 wow animated fadeInUp fast first">
          <img class="svg" src="assets/patterns/domainmanage.svg" alt="domain management">
        </div>
        <div class="col-md-12 col-lg-5 offset-lg-1">
          <div class="info-content">
            <h4>Simple Domain Management</h4>
            <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing
                pleasure</a> and praising pain was born and I will.</p>
          </div>
          <a href="" class="btn btn-default-yellow-fill mt-3">Learn more</a>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 col-lg-5">
          <div class="info-content">
            <h4>Automatic Domain Renewal</h4>
            <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing
                pleasure</a> and praising pain was born and I will.</p>
          </div>
          <a href="" class="btn btn-default-yellow-fill mt-3">Auto-Renewal</a>
        </div>
        <div class="col-md-12 col-lg-6 offset-lg-1 backups anima wow animated fadeInUp fast second">
          <img class="svg" src="assets/patterns/domainrenewal.svg" alt="domain renewal">
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 col-lg-6 wow animated fadeInUp fast third">
          <img class="svg" src="assets/patterns/support.svg" alt="support 24/7/365">
        </div>
        <div class="col-md-12 col-lg-5 offset-lg-1">
          <div class="info-content">
            <h4>Don't worry! We have support premium 24/7/365</h4>
            <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing
                pleasure</a> and praising pain was born and I will.</p>
          </div>
          <a href="" class="btn btn-default-yellow-fill mt-3">Get support</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** CUSTOMIZE ***** -->
<section class="sec-normal history-section custom sec-bg3">
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 class="section-heading text-white">Advanced domain control made easy</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt.</p>
        </div>
        <div class="col-md-12 col-sm-12">
          <div class="section-offer services w-100">
            <div class="tabs offers-tabs">
              <div class="tabs-header mb-5">
                <ul>
                  <li class="col-lg-3 col-md-3 col-sm-12 active">
                    <i class="icon-features"></i>
                    <div class="text-white">Easy Management</div>
                  </li>
                  <li class="col-lg-3 col-md-3 col-sm-12">
                    <i class="icon-domainserver"></i>
                    <div class="text-white">Domain API</div>
                  </li>
                  <li class="col-lg-3 col-md-3 col-sm-12">
                    <i class="icon-lock"></i>
                    <div class="text-white">Domain Lock</div>
                  </li>
                </ul>
              </div>
              <div class="tabs-content text-left scrollme">
                <div class="tabs-item active">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <img class="svg" src="assets/patterns/controlpanel.svg" alt="monitoring 24/7/365">
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">
                      <div class="info-content text-white animateme" data-when="enter" data-from="1" data-to="0"
                        data-opacity="1" data-translatey="100" data-easeinout="0">
                        <h4>Change DNS records through an easy-to-use Control Panel</h4>
                        <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing
                            pleasure</a> and praising pain was born and I will. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tabs-item">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <img class="svg" src="assets/patterns/performance.svg" alt="monitoring 24/7/365">
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">
                      <div class="info-content text-white animateme" data-when="enter" data-from="1" data-to="0"
                        data-opacity="1" data-translatey="100" data-easeinout="0">
                        <h4>Register multiple domains can be done in a matter of seconds</h4>
                        <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing
                            pleasure</a> and praising pain was born and I will. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tabs-item">
                  <div class="row">
                    <div class="col-md-12 col-lg-6">
                      <img class="svg" src="assets/patterns/ssl.svg" alt="monitoring 24/7/365">
                    </div>
                    <div class="col-md-12 col-lg-5 offset-lg-1">
                      <div class="info-content text-white animateme" data-when="enter" data-from="1" data-to="0"
                        data-opacity="1" data-translatey="100" data-easeinout="0">
                        <h4>Lock and Unlock it down to prevent unauthorized transfers</h4>
                        <p>But I must explain to you how all this mistaken idea of <a href="#" class="golink">denouncing
                            pleasure</a> and praising pain was born and I will. </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** FAQ. ***** -->
<section class="sec-normal sec-bg2">
  <div class="faq">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2 class="section-heading">Frequently Asked Questions Hosting</h2>
          <p class="section-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt.</p>
        </div>
        <div class="col-sm-12">
          <div class="accordion faq pt-5">
            <div class="panel-wrap">
              <div class="panel-title">
                <span>What is a domain name?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                          anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>What can I do with a domain name?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                          anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>How many domains can I host at Antler?</span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                          anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-wrap">
              <div class="panel-title">
                <span>What domain should I buy? </span>
                <div class="float-right">
                  <i class="fa fa-plus"></i>
                  <i class="fa fa-minus c-pink"></i>
                </div>
              </div>
              <div class="panel-collapse">
                <div class="wrapper-collapse">
                  <div class="info">
                    <ul class="list">
                      <li>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                          labore et dolore magna.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                          anim id est laborum.</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ***** HELP ***** -->
<section class="help pt-4 pb-80">
  <div class="container">
    <div class="service-wrap">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">

          <div class="help-container">
            <div class="plans badge feat left bg-grey"><i class="fas fa-long-arrow-alt-left"></i></div>
            <a href="hosting" class="help-item">
              <div class="img">
                <img class="svg ico" src="assets/fonts/svg/cloudfiber.svg" alt="">
              </div>
              <div class="inform">
                <div class="title">Go to Cloud Reseller</div>
                <div class="description">Do you need to host multiple Websites?</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <div class="help-container">
            <div class="plans badge feat bg-grey"><i class="fas fa-long-arrow-alt-right"></i></div>
            <a href="vps" class="help-item">
              <div class="img">
                <img class="svg ico" src="assets/fonts/svg/vps.svg" alt="">
              </div>
              <div class="inform">
                <div class="title">Go to VPS Server</div>
                <div class="description">Needs scalable resources in Hosting Environment?</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>